nvim/.config/nvim/spell/**

kitty/.config/kitty/kitty-themes-master/**

vifm/.config/vifm/vifminfo.json
nvim/.config/nvim/current_theme.vim
rofi/.config/rofi/current_theme.rasi
kitty/.config/kitty/current_theme.conf
zathura/.config/zathura/current_theme.conf

vlc/.config/vlc/vlc-qt-interface.conf
vifm/.config/vifm/vifminfo.json

lazyvim/
