/*
Gruvbox light theme for Vimium
based on Dracula theme for Vimium by Trollwut (trollwut@trollwut.org).
*/

/* Link hint boxes */
div > .vimiumHintMarker {
  background: #fbf1c7;
  font-size: 12px;
  border: 3px solid #32302f;
  border-radius: 3px;
  box-shadow: 0em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.4);
}

/* Link hint text */
div > .vimiumHintMarker span {
  color: #32302f;
  font-size: inherit;
  text-shadow: none;
}

/* Link hint matching characters */
div > .vimiumHintMarker > .matchingCharacter {
  color: #ebdbb2;
}

/* HUD ("heads-up display") bar */
div.vimiumHUD {
  background: #ebdbb2;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background: #ebdbb2;
}

div.vimiumHUD .hud-find {
  background: #ebdbb2;
  border: none;
  color: #f8f8f2;
}

div.vimiumHUD span#hud-find-input{
  color: #f8f8f2;  /* 'Foreground' color */
}

div.vimiumHUD span#hud-match-count {
  color: #3c3836;  /* 'Comment' color */
}

div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: #3c3836;  /* 'Comment' color */
}

#vomnibar{
    background-color: #ebdbb2;
}

#vomnibar input {
  color: #32302f;
  font: -moz-window;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size: 20px;
  height: 26px;
  margin-bottom: 0;
  padding: 2px;
  background-color: #ebdbb2;
  border-radius: 0px;
  border: none;
  box-shadow: #3c3836 0px 0px 0px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#vomnibar .vomnibarSearchArea {
  display: block;
  padding: 10px;
  background-color: #ebdbb2;
  border-radius: 0px 0px 0 0;
  border-bottom: 0px solid #3c3836;
}

#vomnibar ul {
  background-color: #ebdbb2;
  border-radius: 0 0 0px 0px;
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-block-start: 2px;
  margin-block-end: 0px;
}

#vomnibar li {
  border-bottom: 1px solid #ebdbb2;
  line-height: 1.1em;
  padding: 7px 10px;
  font-size: 16px;
  color: #f8f8f2;
  position: relative;
  display: list-item;
  margin: auto;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 15px;
  margin-top: 3px;
  padding: 2px 0;
}

#vomnibar li .vomnibarSource {
  color: #fb4934;
  margin-right: 4px;
}
#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: #ebdbb2;
  color: #f8f8f2;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
  white-space: nowrap;
  color: #458588;
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: #32302f;
}

#vomnibar li em, #vomnibar li .vomnibarTitle {
  color: #98971a;
  margin-left: 4px;
  font-weight: normal;
}
#vomnibar li em { font-style: italic; }
#vomnibar li em .vomnibarMatch, #vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #32302f;
}

#vomnibar li.vomnibarSelected {
  background-color: #f2e5bc;
  font-weight: normal;
}

#vomnibarInput::selection {
  background-color: #665c54;
}

/*
 Gruvbox palette
 #ebdbb2 #cc241d #98971a #d79921 #458588 #b16286 #689d6a #a89984
 #928374 #fb4934 #b8bb26 #fabd2f #83a598 #d3869b #8ec07c #3c3836
*/
